.App {
  text-align: center;
}

button {
  background-color: #367587;
  color: #fff;
  border: 0;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 3px;
}

p {
  font-size: 18px;
  font-weight: 700;
}

input {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 18px;
  margin-right: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  background: teal;
  padding: 0 20%;
  color: #fff;
}

ul {
  padding: 0;
}
li {
  background: #ddd;
  padding: 7px 10px;
  margin-bottom: 5px;
  list-style: none;
  font-size: 17px;
  font-weight: 700;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
